* {
  margin: 0;
  padding: 0;
}

body {
  margin-inline: auto;
  height: 100%;
  max-width: 1920px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

img {
  user-select: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 800;
}

h3 {
  font-weight: 400;
}

p {
  line-height: 2rem;
  font-weight: 400;
  font-size: 1.2rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.8rem;
  }

  p {
    font-size: 1rem;
  }
}
